In [1]:
a="lokesh"
b='SURESH'
txt='Hi My name is Lokesh'

In [2]:
a.capitalize() #To set first letter as a capital letter

'Lokesh'

In [3]:
txt.casefold() #To conert all capital letters to lower letters

'hi my name is lokesh'

In [4]:
txt.center(124,'*')

'****************************************************Hi My name is Lokesh****************************************************'

In [5]:
a.center(16,'@')

'@@@@@lokesh@@@@@'

In [6]:
txt.count('Hi') #To count number of particular words

1

In [7]:
txt.count(' ')

4

In [9]:
a.encode()

b'lokesh'

In [10]:
x= "My name is Ståle"

In [11]:
x.encode() #It encodes special strings

b'My name is St\xc3\xa5le'

In [14]:
txt.endswith('y') #To find particular words consists particular  letters

False

In [15]:
txt.endswith('h')

True

In [16]:
b.endswith('H')

True

In [18]:
txt.endswith('Lokesh')

True

In [24]:
name="H\te\tl\tl\to"

In [27]:
name.expandtabs(0) #sets the tab size

'Hello'

In [28]:
name.expandtabs(4)

'H   e   l   l   o'

In [102]:
txt.index('h')

19

In [105]:
txt.index('e')

9

In [106]:
txt.index('z')

ValueError: substring not found

#### diff bw index() and find()
find gives -1 as output if it is unable to find substring,index throws value error

In [108]:
txt.rindex('h')

19

In [109]:
txt.rindex('e')

17

In [110]:
txt.rindex('z')

ValueError: substring not found

In [29]:
a.find('h')

5

In [31]:
txt.find('M')

3

In [34]:
txt.find('z')

-1

In [99]:
txt

'Hi My name is Lokesh'

In [32]:
txt.find('is') #To get a position of letters or words from left to right

11

In [98]:
txt.rfind('is')

11

In [100]:
txt.find('e')

9

In [101]:
txt.rfind('e')

17

In [103]:
txt.rfind('z')

-1

#### Diff bw find() and rfind()
rfind() returns the highest index (from the right) for the provided substring, whereas find() returns the index position of the element's first occurrence, i.e. the very first index

In [57]:
'My name is {}'.format(a)

CPU times: total: 0 ns
Wall time: 0 ns

In [41]:
'My name is {} and my friend name is {}'.format(a,b)

'My name is lokesh and my friend name is SURESH'

In [42]:
'My name is {} and my friend name is {}'.format(b,a)

'My name is SURESH and my friend name is lokesh'

In [49]:
a={'name':['Lokesh','suresh','sai','paramesh'],'age':[26,25,27,28]}

In [50]:
'My name is {name[0]} and my age is {age[1]}'.format_map(a)#which is used to return a dictionary key’s value.

'My name is Lokesh and my age is 25'

In [51]:
'My name is {name[1]} and my age is {age[0]}'.format_map(a)

'My name is suresh and my age is 26'

In [63]:
d={'loki','suri','param','sai'}

In [66]:
'-'.join(d)

'param-sai-suri-loki'

In [67]:
'&'.join(a)

'name&age'

In [68]:
b.ljust(20,'$')

'SURESH$$$$$$$$$$$$$$'

In [69]:
b.rjust(20,'&')

'&&&&&&&&&&&&&&SURESH'

In [70]:
b.lower() #Converting alll letters into lowers letters

'suresh'

In [71]:
b.lstrip()

'SURESH'

In [79]:
a='     lokesh        '

In [80]:
a.lstrip()#removing left side spaces only

'lokesh        '

In [81]:
a.rstrip()#removing right side spaces only

'     lokesh'

In [82]:
a.strip()#removing all spaces left and right

'lokesh'

In [88]:
#The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters
mytable = str.maketrans(" ", "*") #
print(a.translate(mytable))

*****lokesh********

In [87]:
mytable = str.maketrans("s", "S")
print(txt.translate(mytable))

Hi My name iS LokeSh

In [93]:
#The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
txt.partition(' ')

('Hi', ' ', 'My name is Lokesh')

In [92]:
txt.partition('name')

('Hi My ', 'name', ' is Lokesh')

In [111]:
txt.rpartition('name')

('Hi My ', 'name', ' is Lokesh')

In [112]:
txt.rpartition(' ')

('Hi My name is', ' ', 'Lokesh')

In [96]:
txt.replace('Lokesh','Suresh') #To replace a particular value

'Hi My name is Suresh'

In [113]:
txt.split() #splitting entie sentence into words

['Hi', 'My', 'name', 'is', 'Lokesh']

In [119]:
txt.split('is')

['Hi My name ', ' Lokesh']

In [120]:
txt.rsplit('is')

['Hi My name ', ' Lokesh']

In [124]:
txt.split('e',1)

['Hi My nam', ' is Lokesh']

In [123]:
txt.rsplit('e',1)

['Hi My name is Lok', 'sh']

In [125]:
txt = "Thank you for the music\nWelcome to the jungle"

In [126]:
txt.splitlines() #splits a string into a list. The splitting is done at line breaks.

['Thank you for the music', 'Welcome to the jungle']

In [127]:
txt.splitlines(True)

['Thank you for the music\n', 'Welcome to the jungle']

In [130]:
txt.startswith('Thank')

True

In [131]:
txt.startswith('T')

True

In [134]:
txt

'Thank you for the music\nWelcome to the jungle'

In [133]:
txt.swapcase() #converting lower ato upper and upper to lower

'tHANK YOU FOR THE MUSIC\nwELCOME TO THE JUNGLE'

In [135]:
txt.title()

'Thank You For The Music\nWelcome To The Jungle'

In [136]:
txt.upper()

'THANK YOU FOR THE MUSIC\nWELCOME TO THE JUNGLE'

In [137]:
b.zfill(10)

'0000SURESH'